/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100%;
    box-sizing: border-box;
}




nav {
    background-color: #333; /* Darker color for the header */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white; /* Light text color for the header */
    padding: 5px;
}

footer {
    background-color: #333; /* Darker color for the footer */
    color: white; /* Light text color for the footer */
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Additional styles for index.html */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Darker color for the buttons */
    color: white; /* Light text color for the buttons */
    border: 1px solid white; /* Add border to the buttons */
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px; /* Proper space between buttons */
}


.button:hover {
    background-color: #555; /* Darker color on hover */
}

/* Responsive Styles */

/* Mobile */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .button-container {
        flex-wrap: wrap;
    }

    .button {
        margin: 5px;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 600px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .container {
        max-width: 800px;
    }
}